footer
  .container.text-center
    p.float-left © 2019 낭랑 All Rights Reserved, powered by Aibril
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/hyungjo/nangrang') GitHub Project
