extends layout

block content
    p.lead 추천 도서
    hr
    .row
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book1.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book2.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book3.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book1.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book2.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book3.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
    p.lead 최신 도서
    hr
    .row
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book1.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book2.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book3.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book1.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book2.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
        .col-md-3
            .card.mb-3.border-dark
                img.card-img-top(src='/img/book3.jpg', alt='Card image cap')
                .card-body
                    h5.card-title Book Title
                    p.card-text
                        | Book Contents Summary
                    a.btn.btn-dark.btn-sm(href='#') Select
