//inner
.inner
    .row            
        .col-md-8.blog-main(style = 'padding-right:35px;')
            .blog-post
                .card.p-3.mb-3.shadow-sm.h-md-250
                    h3.text-center(style='color:black;padding-left:0px;') 책 제목
                    p
                    | Viv   amus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                .p-3.mb-3.bg-light.rounded
                    p
                    | Etiam porta
                    em sem malesuada magna
                    |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                    h2 Heading
                    p
                    | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    h3 Sub-heading
                    p
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    pre.

        aside.col-md-4.blog-sidebar(style = 'border-left : 1px solid lightgray; padding-left:15px;')
            .p-3
               h4 녹음
                div#controls
                a.btn#recordButton(href='#', role='button') Record
                a.btn#pauseButton(href='#', role='button') Pause
                a.btn#stopButton(href='#', role='button') Stop

                div#formats Format: start recording to see sample rate
                h3(color='red') Recordings
                ol#recordingsList