style.
    #outer-box #inner-box {
        background: #FD8698;
        height: 100%;
        width: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        padding: 0;
        transition: opacity .5s;
    }
    #outer-box #inner-box p {
        color: #fff;
        line-height: 150px;
        font-family: 'arial';
        text-align: center;
    }
    #outer-box:hover #inner-box {
        opacity: .9;
        transition: opacity .5s;
    }

.row
    .col-md-10
        .row
            for book in books
                #outer-box(style='width: 100px; height: auto; display: block; position: relative;', onclick="selectBook(this)")
                    img(src=book.image style='width: 100px; height: auto;')
                    #inner-box
                        p #{book.title}
                            a.info.border(href='http://www.naver.com' style="text-align: center;") #{book.author}
    .col-md-1
        .row
            .card(style='width:400px')
                img.card-img-top#selectedbookimage(src='/img/book_temp.png', alt='Book image')
                .card-body
                    h4.card-title#selectedbooktitle
                    p.card-text#selectedbookauthor
