.inner
    h3 검수 결과
    .form-row.table-responsive
        table.table.table-responsive-md
            tbody
                tr.space-row
                    th Full Name:
                    td#fullname-val
                tr.space-row
                    th Email Address:
                    td#email-val
                tr.space-row
                    th Phone Number:
                    td#phone-val
                tr.space-row
                    th Address Location:
                    td#address-val
                tr.space-row
                    th Gender:
                    td#gender-val
                tr.space-row
                    th Account Name:
                    td#account-name-val
                tr.space-row
                    th Account Number:
                    td#account-number-val
