.inner
    .container
        .box
            .imgBox
                img(src='https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg')
            .content
                h2 Image Hover Effects
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
        .box
            .imgBox
                img(src='https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg')
            .content
                h2 Image Hover Effects
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
        .box
            .imgBox
                img(src='https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg')
            .content
                h2 Image Hover Effects
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
        .box
            .imgBox
                img(src='https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg')
            .content
                h2 Image Hover Effects
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
        .box
            .imgBox
                img(src='https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg')
            .content
                h2 Image Hover Effects
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
        .box
            .imgBox
                img(src='https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg')
            .content
                h2 Image Hover Effects
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.