//inner
.inner
    .row
        // ------------조회 테이터 테이블  start----------
        .col-lg-12(style='display:none')
            .panel.panel-default
                table.type_sch(width='100%', border='0')
                tbody
                    tr
                    th 모델선택
                    td(style='width:80%')
                        div
                        .input-group
                            #radio_lm.btn-group
                            input#lm_data(type='hidden', name='lm_data')
        #mic.panel-body(style='width:95%')
            table(width='100%', border='0')
                tbody
                tr
                    td(align='center')
                    input#btn_recStart.btn.btn-default(type='button', value='녹음시작', onclick='recStart(this)' style='margin-left:13px')
                    input#btn_recStop.btn.btn-default(type='button', value='녹음중지', onclick='recStop(this)', disabled='')
                    td(style='width:60%')
                    .row
                        .col-md-8
                            canvas#analyser(style='width:100%; height:100px; padding-top:10px; padding-left:15px')

    .row
        .col
            h3.text(style='color:black; padding-left:10px;') 원본 TEXT
            .col-md-6.blog-main(style = 'padding-right:16px; border : 1px solid lightgray; max-width:100%;')
                        p#original-text(style='padding-top:15px;')
                            | 하루 종일 공부만 하는데도 번번이 노력에 배신당하고 있다면, 의지가 나약한 자신을 자책하고 있다면, 기초가 부족해 체계화된 입시 코디가 필요하다면, 지금 바로 이 책을 읽고 체크를 시작해 보자. 서울대 100인이 매일 실천해 왔다고 응답한 60가지 체크 리스트를 하나씩 따라 하다 보면, 누구나 쉽고 빠르게 성적의 급상승을 경험하고 원하는 시험에 합격할 수 있다
                        pre.
        .col(style='padding-left:0px;')
            h3(style='color:black; padding-left:10px;') STT
            div
                .col-xs-12
                    .panel.panel-default
                        .panel-heading
                        span#span_textarea0
                        .panel-body
                        textarea#mfl_text0.form-control.rounded-0(rows='18', style='padding-top:15px;')
