extends ../layout

block content
    .container-fluid
        .page-content
            .wizard-v5-content
                .wizard-form
                    form#form-register.form-register(action='#', method='post')
                        #form-total
                            // SECTION 1
                            h2
                                span.step-icon
                                    i.zmdi.zmdi-check
                                span.step-text 도서 선택
                            section
                                include book-select
                            // SECTION 2
                            h2
                                span.step-icon
                                    i.zmdi.zmdi-check
                                span.step-text 도서 낭독
                            section
                                include book-record
                            // SECTION 3
                            h2
                                span.step-icon
                                    i.zmdi.zmdi-check
                                span.step-text 낭독 검수
                            section
                                include book-analysis
