//inner
.inner
    style.
        .textcontent{
            overflow-y:scroll;
            height:500px;
            padding-right:5px;
        }
        #originTitle, #recordTitle {
            color:black;
            padding-left:0px;
        }
    .row
        .col-md-10.blog-main.ml-5.mt-2(style = 'padding-right:35px;')
            .blog-post
                .card.p-2.mb-3.shadow-sm.h-md-250
                    #recfinish
                        .well(style='background: #fff;')
                            h1(style="color:black; text-align:center") 검수결과
                            hr
                            .row
                                #progress(data-dimension='200', data-text='65%', data-fontsize='36', data-percent='65', data-fgcolor='#30B455', data-bgcolor='#eee', data-width='15', data-bordersize='15', data-animationstep='2')
                            br
                            h3(style="color:black; text-align:center; padding-left:0px;")
                                | 검수결과 
                                mark#passfail 합격
                                |  입니다.
                            h3